<!DOCTYPE html>
<html ng-app="IndexApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/indexApp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
         <div class="col-md-1">
          <h2>Log in</h2>
         </div><!-- col end --> 
      </div><!-- row end -->

      <div class="row">
        <div class="col-md-5">
          <form action="/login" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" class="btn btn-default" value="Log in">
          </form> 
        </div><!-- col end -->
      </div><!-- row end -->
      <div class="row">
          <div class="col-md-5">
              <h4><%= message %></h4>
          </div><!-- col end -->
      </div><!-- row end -->
      <div class="row">
        <div class="col-md-5">
          <h2>Register</h2>
        </div><!-- col end -->
      </div><!-- row end -->
      <div class="register" ng-controller="RegisterController">
              <div class="row">
          <div class="col-md-2">
              
              <form action="/register" method="post">
                <div ng-repeat="input in registerTemplates[userType]">
                  <input type="{{input.type}}" name="{{input.purpose}}" placeholder="{{input.purpose}}">
                </div>
                <!--<input type="text" name="username" required="true" placeholder="username">
                <input type="text" name="firstname" required="true" placeholder="first name">
                <input type="text" name="lastname" required="true" placeholder="last name">
                <input type="password" name="password" required="true" placeholder="password">
                <input type="password" name="repeat_password" required="true"placeholder="repeat password">
                <input type="email" name="email" required="true" placeholder="e-mail">
                <div class="row">
                  <div class="col-md-12">
                    <label>Your birth date</label>
                    <!--<input type="number" name="day" required="true" placeholder="day" min="1" max="31">
                    <input type="number" name="month" required="true" placeholder="month" min="1" max="12">
                    <input type="number" name="year" required="true" min="1930" placeholder="year">-->
                    <div id="timeStuff" ng-show="userType!='Company'">
                       <select name="day" >
                      <%for(var i=1;i<32;i++){%>
                        <option><%=i%></option>
                      <%}%>
                    </select>
                    <select name="month">
                      <%for(var i=1;i < 13;i++){%>
                      <option><%=i%></option>
                      <%}%>
                    </select>
                    <select name="year">
                      <%for(var i=new Date().getFullYear();i > new Date().getFullYear() - 71;i--){%>
                        <option><%=i%></option>
                      <%}%>
                    </select>
                    </div>
                    </form>
                  </div>
                </div><!-- Row end -->
                <div class="row">
                  <div class="col-md-12">
                    <label>Your user type</label>

                    <select name="userType" ng-model="userType">
                      <option value="Student">Student</option>
                      <!--<option value="Programmer">Programmer</option>-->
                      <option value="Company">Company</option>
                    </select>

                  </div>
                </div><!-- Row end-->
                <input type="submit" class="btn btn-default" value="Register">
              </form> 
      </div>

          </div><!-- col end -->
      </div><!-- row end -->

      <div class="row">
          <div class="col-md-5">
              <h4><%= registerMessage %></h4>
          </div><!-- col end -->
      </div><!-- row end -->

    </div><!-- Container end -->

    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </body>
</html>
