<!DOCTYPE html>
<html ng-app="IndexApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	    <script type="text/javascript" src="javascripts/indexApp.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	   	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
	</head>
	<body>
        
        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="#">WNP</a>
            <form class="navbar-form navbar-left" action="/login" method="post">
                <input type="text" class="form-control" placeholder="Username" name="username">
                <input type="password" class="form-control" placeholder="password" name="password">
                <button class="btn btn-default navbar-btn" type="submit">Log in</button>
            </form>
            <p class="navbar-text navbar-left"><%= message %></p>
        </nav>

		<div class="container-fluid" ng-controller="MainController">
            
            <div class="row">
                <div class="col-sm-5 col-md-7 col-lg-8 col-sm-push-4 col-md-push-3 col-lg-push-3">
                    <h1>World needs programmers</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-4 col-sm-push-3 col-md-push-3 col-lg-push-3">
                    <h3 id="desc">
                        World needs programmers is a project made for starter programmers in search for nice algorithms, solutions and also intimidating programming tasks. <readMore ng-show="readMore">
                        If you're a kind of person who likes to learn by their friends or in a community you came to the right place. Our goal is to educate as many programmers as we can so feel free to invite your friends over too. Also projects in beta so dont mind the bugs and expect improvements weekly.
                        </readMore><button class="btn btn-info" ng-click="readMore = !readMore">Read <more ng-show="!readMore">more</more> <less ng-show="readMore">less</less></button>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-md-8 col-lg-8 col-sm-push-3 col-md-push-3 col-lg-push-3">
                    <h1>Join us if you already haven't</h1>
                </div>
            </div>
            <div class="row" ng-controller="RegisterController">
                			<div class="row">
				<div class="col-sm-5 col-md-5 col-lg-4 col-sm-push-4 col-md-push-3 col-lg-push-3">
				<form action="/register" method="post" style="margin-top:5px;">
	                <div ng-repeat="input in registerTemplates['Student']">
	                  <input  class="form-control"  type="{{input.type}}" name="{{input.purpose}}" required="true" placeholder="{{input.purpose.replace('_',' ')}}" style="margin-bottom:2px">
	                </div>
	          
	                <div id="timeStuff">
	                   <select name="day" >
	                  <%for(var i=1;i<32;i++){%>
	                    <option><%=i%></option>
	                  <%}%>
	                </select>
	                <select name="month">
	                  <%for(var i=1;i < 13;i++){%>
	                  <option><%=i%></option>
	                  <%}%>
	                </select>
	                <select name="year">
	                  <%for(var i=new Date().getFullYear();i > new Date().getFullYear() - 71;i--){%>
	                    <option><%=i%></option>
	                  <%}%>
	                </select>
	                </div>
	                <input type="hidden" name="userType" value="Student" >
	                <input type="submit" class="btn btn-info" value="Register"  style="margin-top:5px">
                </form> 
				</div>
			</div><!-- Row end -->
            </div>
            
		</div><!-- Container end -->
	</body>
</html>