<html ng-app="ProfileApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="javascripts/sanitize.js"></script>
		<script type="text/javascript" src="javascripts/profile.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	    </script>
		<title><%= username %></title>
	</head>
	<body>
		<!-- Nav bar -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		  	<div class="collapse navbar-collapse">
			<form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" id="search" name="search" autocomplete="off"placeholder="Search">
		          <div class="predict"><ul class="predict-items"></ul></div>
		        </div>
		        <button type="submit" class="btn btn-default" id="searchBtn">Search</button>
		    </form>
		    <form class="navbar-form navbar-right" action="/logout" method="post">
		    	<button class="btn btn-default navbar-btn" type="submit">Log out</button>
		    </form>
		    <form class="navbar-form navbar-right">
		    	<button class="btn btn-default navbar-btn" action="/<%=loggedInUser%>" method="get"><%=loggedInUser%></button>
		    </form>
		   </div>
		</nav><!-- Nav end -->

		<input type="hidden" id="username" value="<%=username%>"/>

		<div class="container-fluid">
			<div class="row" style="margin-bottom:3px;">
				<div class="col-sm-3 col-md-2 col-lg-1
				">
					<img id="profilePic" src="images/noUser1.jpg">
				</div>
				<div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
					<h1><%=name%> <%=lastname%></h1>
				</div><!-- col end -->
			
				<div class="col-sm-2 col-md-2 col-lg-2">
					<!-- TODO:Add unfollow functionallity -->
					
					<input type="submit" class="btn btn-default" id="follow" value="<%if(followed){%>Unfollow<%}else{%>Follow<%}%>">
					<% if(userType=="Company"){ %>
					<input type="submit" class="btn btn-default"id="addEmployee" value="Add employee">
					<%}%>
				</div><!-- col end -->
			</div><!-- row end -->

			<div ng-init="activeTab='MyTasks'" ng-controller="MenuController">
				<ul class="nav nav-tabs">

					<li ng-class="{active: activeTab == 'MyTasks'}">
						<a href ng-click="activeTab = 'MyTasks'">My tasks
						</a>
					</li>

					<!--<li ng-class="{active: activeTab == 'Favourites'}">
						<a href ng-click="activeTab = 'Favourites'">Favourites
						</a>
					</li>-->

					<li ng-class="{active: activeTab == 'ViewSolutions'}">
						<a href ng-click="activeTab = 'ViewSolutions';
						">View solutions</a>
					</li>

				</ul><!-- Menu end-->
				<div class="menu-content">
					<div
						ng-show="activeTab == 'MyTasks'"
						ng-include="'pages/MyTasks.html'"
					></div>
					<div
						ng-show="activeTab == 'Favourites'"
						ng-include="'pages/Favourites.html'"
					></div>
					<div
						ng-show="activeTab == 'ViewSolutions'"
						ng-include="'pages/ViewSolutions.html'"
					></div>
				</div>
			</div>

		</div><!-- Container end -->

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js">
		</script>
		<script src="javascripts/buttons.js">
		</script>

	</body>
</html>